.App {
  font-family: sans-serif;
  text-align: center;
}
.App > input {
  width: 60%;
  height: 20px;
  padding: 10px;
}
.App > button {
  padding: 12px 20px;
  background-color: rgb(14, 14, 136);
  color: aliceblue;
  /* display: block; */
  /* margin: 10px 18%; */
}
.App > div {
  display: flex;
  margin: 20px 40%;
  /* width: 40%; */
  /* background-color : rgb(38, 165, 6); */
  /* width: auto; */
}
.App > div > h1 {
  width: 100%;
  /* margin-left :0px; */
}
.App > div > button {
  height: 40px;
  margin-top: 20px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(235, 38, 38);
  border: none;
  cursor: pointer;
  margin-left: 20px;
}
